.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    position: static;
    clip: auto;
    overflow: visible;
    height: auto;
    width: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

.formRadio input[type=radio]:focus+label {
    border: 5px solid #363b74;
}